---
import PageLayout from "../../layouts/PageLayout.astro";
import DensityCalculator from "../../components/DensityCalculator.astro";

const lang = "pt";
---

<PageLayout
  title="Calculadora de Densidades"
  description="Calcula a densidade de sementeira recomendada para o teu cultivo"
  lang={lang}
>
  <section class="calculator-page">
    <DensityCalculator lang={lang} />
  </section>
</PageLayout>

<style>
  .calculator-page {
    padding: 0;
  }
</style>


